apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: {{project_name_hyphens}}
spec:
  strategy:
    blueGreen:
      activeService: {{project_name_hyphens}}
      previewService: {{project_name_hyphens}}-preview
      autoPromotionEnabled: true
      scaleDownDelaySeconds: 10
      prePromotionAnalysis:
        templates:
        - templateName: {{project_name_hyphens}}-pre-smoke-test
  replicas: 1
  selector:
    matchLabels:
      app: {{project_name_hyphens}}
  template:
    metadata:
      labels:
        app: {{project_name_hyphens}}
    spec:
      containers:
      spec:
      containers:
        - env:
            - name: MS_CONFIG_URL
              value: {{'{{ (index .Values .Values.environment).ms_config_url }}'}}
            - name: ROLES
              value: client.readerwriter
            - name: RESOURCE_ID
              value: {{'{{ (index .Values .Values.environment).resource_id }}'}}
          image: {{'{{ .Values.image }}'}}:{{'{{ .Values.version }}'}}
          name: {{project_name_hyphens}}
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /health
              port: 80
              scheme: HTTP
            periodSeconds: 60
            timeoutSeconds: 30
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /health
              port: 80
              scheme: HTTP
            periodSeconds: 60
            timeoutSeconds: 30
          startupProbe:
            failureThreshold: 5
            httpGet:
              path: /health
              port: 80
              scheme: HTTP
            periodSeconds: 10
            timeoutSeconds: 30
          imagePullPolicy: Always
          ports:
          - containerPort: 80
  revisionHistoryLimit: 1
