apiVersion: argoproj.io/v1alpha1
kind: AnalysisTemplate
metadata:
  name: {{project_name_hyphens}}-post-smoke-test
spec:
  metrics:
    - name: health-check
      successCondition: result == "UP"
      count: 1
      provider:
        web:
          url: "https://{{project_name_hyphens}}.{{'{{ .Values.url }}'}}/health"
          jsonPath: "{$}"

---
apiVersion: argoproj.io/v1alpha1
kind: AnalysisTemplate
metadata:
  name: {{project_name_hyphens}}-pre-smoke-test
spec:
  metrics:
    - name: health-check
      successCondition: result == "UP"
      count: 1
      provider:
        web:
          url: "http://{{project_name_hyphens}}-preview.{{'{{ .Values.environment }}'}}.svc.cluster.local/health"
          jsonPath: "{$}"
