apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{project_name_hyphens}}-ingress
  annotations:
    kubernetes.io/ingress.class: azure/application-gateway
    cert-manager.io/cluster-issuer: letsencrypt-prod
spec:
  rules:
    - host: {{project_name_hyphens}}.{{'{{ .Values.url }}'}}
      http:
        paths:
          - backend:
              service:
                name: {{project_name_hyphens}}
                port:
                  number: 80
            path: /*
            pathType: Prefix
  tls:
    - hosts:
        - {{project_name_hyphens}}.{{'{{ .Values.url }}'}}
      secretName: {{project_name_hyphens}}-secret
